.footer {
    background: #396afc;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #2948ff, #396afc);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #2948ff, #396afc);
    padding: 2rem 0 1rem;
    text-align: center;
    font-size: 0.9rem;
    margin-top: 2rem;
}

.footer a {
    color: var(--color-bg);
}

.footer p {
    font-size: large;
    padding-top: 1rem;
}

.footer_logo {
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 2rem;
    display: inline-block;
}

.permalinks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    margin: 1rem auto 1rem;
    list-style: none;
}

.footer_socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-bottom: 1rem;
    padding-top: 1rem;
}

.tonny {
    color: white;
}

.tonny-div {
    margin-bottom: 1rem;
}

.footer_socials a {
    background: var(--color-bg);
    color: var(--color-white);
    padding: 0.8rem;
    border-radius: 0.7rem;
    display: flex;
    border: 1px solid transparent;
}

.footer_socials a:hover {
    background: transparent;
    color: var(--color-bg);
    border-color: var(--color-bg);
}
.footer_copyrigth {
    margin-bottom: 8rem;
    color: white;
}

@media screen and (max-width: 600px) {
    .permalinks {
        flex-direction: column;
        gap: 1.5rem;
    }
    .footer_socials {
        margin-bottom: 2.6rem;
    }
}